* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.button {
  width: 100px;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.itemRow {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.itemColumn {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.input {
  padding: 5px;
}

.label {
  font-weight: 700;
}
